<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ページのタイトル</title>
    <link rel="stylesheet" href="css/michome.css">
</head>
<body>
    <form th:action="@{/miclogin}">
        <div class="container">
            <div class="ToDo">
                <p>ToDoリスト</p>
                <!-- 1. 正しいth:blockの開始タグと終了タグを使用 -->
                <th:block th:each="loginid : ${loginid}">
                    <!-- 2. プレースホルダ${session.loginid}を正しく修正 -->
                    <p th:text="${loginid}"></p>
                </th:block>
                <!-- Thymeleafのブロックタグを正しく使う -->
                <th:block th:each="result : ${selectResult}">
                    <p th:text="${result.month} + '月 ' + ${result.day} + '日の予定'"></p>
                    <p th:text="${result.todo}"></p>
                </th:block>
            </div>

            <div class="List">
                <p>リンク</p>
                <p><a href="http://localhost:8080/micadd">新規登録</a>へ</p>
                <p><a href="http://localhost:8080/micedit">更新</a>へ</p>
                <p><a href="http://localhost:8080/micdel">削除</a>へ</p>
            </div>
        </div>
    </form>
</body>
</html>
