<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todoの削除</title>
</head>
<body>

    <h2>Todoの削除</h2>

    <form th:action="@{/micedel}" method="post">
        <label for="month">月:</label>
        <input type="text" id="month" name="month" required><br>

        <label for="day">日:</label>
        <input type="text" id="day" name="day" required><br>

        <label for="todo">予定:</label>
        <input type="text" id="todo" name="todo" required><br>

        <button type="submit">Todoを削除</button>
    </form>

    <br>

    

</body>
</html>
